.Wall{
    height: 100px;
    width: 100px;
    background-image: url("time.png");

}

.path{
    height: 100px;
    width: 100px;
    background-image: url("ss.jpg");
    
}

#contamination{
    display: flex;
    flex-direction: column;
}
.Start{
    height: 100px;
    width: 100px;
    background-color:yellow;
}
.Finish{
height: 100px;
width: 100px;
background-color:indigo
}


h1{margin: auto;}

#character{
    height: 74px;
    width: 74x;
    background-image: url("naruto.png");
}
.rowman{
    display: flex;
}

#winner{
    display: none;

}

frozen{
    height: 74px;
    width: 74px;
    background-image: url("nine.png");
}